.App {
  height: 100vh;
  padding: 0 1rem;
}
.App-header {
  padding-top: 1.5rem;
  text-align: center;
}

.ui.home-lede {
  padding: 5rem 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
